/* GENERAL */
:root {
    --menu-button-width: 4rem;
    --icon-height: 1.6rem;

    --menu-button-mobile-width: 2.5rem;
    --icon-mobile-height: 1.3rem;
}

*:not(li):not(ol) {
    margin: 0;
    padding: 0;
}

body {
    font-family: Sans-serif;
    overflow: hidden;
    background-color: dimgrey;
    overscroll-behavior-y: contain;
    position: fixed;
    width: 100%;
    max-height: -webkit-fill-available;
    /*background: linear-gradient(90deg, grey 50%, dimgrey 50%);
     */
}

ol, ul {
    list-style: none;
}

#page-content {
    display: flex;
    height: 100vh;
    max-height: -webkit-fill-available;
}

/* PAGE CONTAINER STYLING */
.page-container {
    word-break: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-container h1 {
    text-align: center;
}

.page-container img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* LEFT COLUMN */
#page-content-left-column {
    display: flex;
    min-width: var(--menu-button-width);
    height: 100vh;
    max-height: -webkit-fill-available;
    background-color: grey;
}

.navbar {
    width: var(--menu-button-width);
    height: 100%;
}

.navbar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid orange;
}

.navbar-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--menu-button-width);
    width: var(--menu-button-width);
    cursor: pointer;
    border: 1px solid black;
}

.navbar-list-item:nth-last-child(2) {
    margin-top: auto;
}

.navbar-link-text {
    display: none;
    margin-left: 1rem;
}

.navbar-list-item svg {
    height: var(--icon-height);
}

.extend-menu {
    display: block;
    width: 0px;
    transition: 300ms ease;
    word-break: break-word;
    overflow-y: auto;
}

.tree-item {
    color: yellow;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    colol: black;
    display: inline-block;
    margin-right: 0.2rem;
    transform: rotate(0deg);
    transition: 200ms ease;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

/* CENTER COLUMN */
#page-content-center-column {
    background-color: dimgrey;
    flex: 1 1;
    height: 100vh;
    max-height: -webkit-fill-available;
    padding: 0 0.5rem;
}

#page-content-center-column > * {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}

/* RIGHT COLUMN */
#page-content-right-column {
    min-width: 300px;
    background-color: dimgrey;
    height: 100vh;
    max-height: -webkit-fill-available;
    overflow: hidden;
}

#page-content-right-column:hover {
    overflow: auto;
}

.toc-item-h1 {
    font-weight: bold;
}

/* MEDIA */
@media screen and (max-width: 1024px) {
    #page-content-right-column {
        display: none !important;
    }
}

@media screen and (max-width: 740px) {
    #page-content {
        display: flex;
        flex-direction: column-reverse;
    }

    #page-content-left-column {
        display: grid;
        flex: 0 0 var(--menu-button-mobile-width);
        min-width: 100vw;
        height: var(--menu-button-mobile-width);
    }

    .navbar {
        width: 100%;
        height: 100%;
    }

    .navbar-list {
        flex-direction: row;
    }

    .navbar-list-item {
        width: var(--menu-button-mobile-width);
        height: var(--menu-button-mobile-width);
    }

    .navbar-list-item svg {
        height: var(--icon-mobile-height);
    }

    #page-content-center-column {
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: orange;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
