/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Sans-serif;
    overflow: hidden;
    background: linear-gradient(90deg, grey 50%, dimgrey 50%);
}

ol, ul {
    list-style: none;
}

svg {
    height: 1rem;
}

#page-content {
    display: flex;
    position: relative;
    justify-content: center;
}

/* PAGE CONTAINER STYLING */
.page-container {
    word-break: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-container h1 {
    text-align: center;
}

/* LEFT COLUMN */
#page-content-left-column {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100px;
    background-color: grey;
    height: 100vh;
    max-height: -webkit-fill-available;
    transition: width 300ms ease;
    border-right: 1px solid orange;
}

#page-content-left-column:hover {
    width: 250px;
}

#page-content-left-column .hideable{
    display: none;
}

#page-content-left-column:hover .hideable{
    display: block;
}

.menu-title-container {
    display: flex;
    width: 100%;
    align-items: center;
    white-space: nowrap;
}

.menu-title-container svg {
    height: 2rem;
    display: block;
    margin: auto;
    transform: rotate(0deg);
    transition: transform 500ms ease;
}

#page-content-left-column:hover .menu-title-container svg {
    transform: rotate(-180deg);
}

#page-content-left-column:hover .search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar-container *{
}

.page-name-container {
    height: 100%;
    overflow: hidden;
}

.page-name-container:hover {
    overflow: auto;
}

.search-result-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: purple;
    max-width: 200px;
    max-height: 200px;
    overflow: auto;
}

/* CENTER COLUMN */
#page-content-center-column {
    flex: 0 1 740px;
    background-color: dimgrey;
    height: 100vh;
    max-height: -webkit-fill-available;
    margin-left: 100px;
}

/* RIGHT COLUMN */
#page-content-right-column {
    min-width: 300px;
    background-color: dimgrey;
    height: 100vh;
    max-height: -webkit-fill-available;
    overflow: hidden;
}

#page-content-right-column:hover {
    overflow: auto;
}

.toc-item-h1 {
    font-weight: bold;
}

/* MEDIA */
@media screen and (max-width: 1024px) {
    #page-content-right-column {
        display: none !important;
    }
}

@media screen and (max-width: 740px) {
    #page-content-left-column {
        display: none !important;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: orange;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
